body {
    font-family: sans-serif;
    background: #f0f0f0;
    color:#333; 
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.photo-profil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

h2 {
    color: #222;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}